outputs/** filter=lfs diff=lfs merge=lfs -text
NeurIPS[[:space:]]2025[[:space:]]Events.csv filter=lfs diff=lfs merge=lfs -text
ui/neurips.db filter=lfs diff=lfs merge=lfs -text
docs/neurips.db filter=lfs diff=lfs merge=lfs -text
